<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuuHieu</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="animate/animate.css"/>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preload" href="audio/click.mp3" as="audio">
    <link rel="preload" href="audio/your-turn.mp3" as="audio">
    <link rel="preload" href="audio/clock.mp3" as="audio">
    <link rel="preload" href="audio/correct.mp3" as="audio">
    <link rel="preload" href="audio/gameover.mp3" as="audio">
    <link rel="preload" href="audio/pop.mp3" as="audio">
    <link rel="preload" href="audio/exit.mp3" as="audio">
    <link rel="preload" href="audio/timer-start.mp3" as="audio">
    <link rel="preload" href="audio/hint.mp3" as="audio">
</head>

<body class="vh-100">
    <%- include('partials/landing', { roomID }) %>
    <%- include('partials/settings', { roomID }) %>
    <%- include('partials/gameZone') %>
    <%- include('partials/gameEnd') %>
    <%- include('partials/footer') %>
    <script src="socket/socket.io.min.js"></script>
    <script src="holwer/howler.min.js"></script>
    <script src="js/avatar.js"></script>
</body>

</html>
